# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

!.terraform.lock.hcl


# Python / Docker Files
app/__pycache__/
__pycache__/
.venv/
Dockerfile

# Secrets
*.pem
*.ppk
*.key

# IDEs and editors
.vscode/
.DS_Store
*.code-workspace
Thumbs.db
shortcut.txt

# Results
results/.gitkeep
!results/.gitkeep