.venv/
shortcut.txt
!.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.*
**/.terraform/*
crash.log
crash.*.log

*.tfvars
*.tfvars.json
*.auto.tfvars


*.tfplan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc



app/__pycache__/
__pycache__/

*.pem
*.ppk
*.key

.vscode/
.idea/
.DS_Store
*.code-workspace
Thumbs.db